<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxy Shop - Cart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/app.min.css' %}">
  </head>
  <body>
    <header class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><a href="/" id="store-name">Galaxy Shop</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          {% if session.item_count %}
            <li><a href="/cart">Shopping Cart ({{session.item_count}})</a></li>
          {% else %}
            <li><a href="/cart">Shopping Cart (0)</a></li>
          {% endif %}
        </ul>
      </div>
    </header>
    <div class="grid-container">
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for data in cart_items.values %}
          <tr>
            <td><a href="/products/{{data.product_id}}">{{data.name}}</a></td>
            <td>${{data.price}}</td>
            <td>{{data.quantity}}</td>
            <td>${{data.total}}</td>
          </tr>
          {% empty %}
            <h3>Your cart is empty.</h3>
          {% endfor %}
        </tbody>
      </table>
      <div class="grid-x align-right">
        <div class="total-group">
          <p>Total: ${{cart_total}}</p>
          <a href="/" class="button align-right">Continue Shopping</a>
        </div>
      </div>
      <div class="grid-x grid-margin-y payment-info">
        <div class="cell medium-8 large-7">
          <form action="/reset" method="post">
            {% csrf_token %}
            <h4>Shipping Information</h4>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="first_name" class="text-right middle">First Name:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="first_name" id="first_name">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="last_name" class="text-right middle">Last Name:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="last_name" id="last_name">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="address" class="text-right middle">Address:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="address" id="address">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="address_2" class="text-right middle">Address 2:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="address_2" id="address_2">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="city" class="text-right middle">City:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="city" id="city">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="state" class="text-right middle">State:</label>
              </div>
              <div class="small-9 cell">
                <select>
                  <option value="AL">Alabama (AL)</option>
                  <option value="AK">Alaska (AK)</option>
                  <option value="AZ">Arizona (AZ)</option>
                  <option value="AR">Arkansas (AR)</option>
                  <option value="CA">California (CA)</option>
                  <option value="CO">Colorado (CO)</option>
                  <option value="CT">Connecticut (CT)</option>
                  <option value="DE">Delaware (DE)</option>
                  <option value="DC">District Of Columbia (DC)</option>
                  <option value="FL">Florida (FL)</option>
                  <option value="GA">Georgia (GA)</option>
                  <option value="HI">Hawaii (HI)</option>
                  <option value="ID">Idaho (ID)</option>
                  <option value="IL">Illinois (IL)</option>
                  <option value="IN">Indiana (IN)</option>
                  <option value="IA">Iowa (IA)</option>
                  <option value="KS">Kansas (KS)</option>
                  <option value="KY">Kentucky (KY)</option>
                  <option value="LA">Louisiana (LA)</option>
                  <option value="ME">Maine (ME)</option>
                  <option value="MD">Maryland (MD)</option>
                  <option value="MA">Massachusetts (MA)</option>
                  <option value="MI">Michigan (MI)</option>
                  <option value="MN">Minnesota (MN)</option>
                  <option value="MS">Mississippi (MS)</option>
                  <option value="MO">Missouri (MO)</option>
                  <option value="MT">Montana (MT)</option>
                  <option value="NE">Nebraska (NE)</option>
                  <option value="NV">Nevada (NV)</option>
                  <option value="NH">New Hampshire (NH)</option>
                  <option value="NJ">New Jersey (NJ)</option>
                  <option value="NM">New Mexico (NM)</option>
                  <option value="NY">New York (NY)</option>
                  <option value="NC">North Carolina (NC)</option>
                  <option value="ND">North Dakota (ND)</option>
                  <option value="OH">Ohio (OH)</option>
                  <option value="OK">Oklahoma (OK)</option>
                  <option value="OR">Oregon (OR)</option>
                  <option value="PA">Pennsylvania (PA)</option>
                  <option value="RI">Rhode Island (RI)</option>
                  <option value="SC">South Carolina (SC)</option>
                  <option value="SD">South Dakota (SD)</option>
                  <option value="TN">Tennessee (TN)</option>
                  <option value="TX">Texas (TX)</option>
                  <option value="UT">Utah (UT)</option>
                  <option value="VT">Vermont (VT)</option>
                  <option value="VA">Virginia (VA)</option>
                  <option value="WA">Washington (WA)</option>
                  <option value="WV">West Virginia (WV</option>
                  <option value="WI">Wisconsin (WI)</option>
                  <option value="WY">Wyoming (WY)</option>
                  <option value="AA">Armed Forces Americas (AA)</option>
                  <option value="AP">Armed Forces Pacific (AP)</option>
                  <option value="AE">Armed Forces Others (AE)</option>	
                </select>					
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="zip" class="text-right middle">Zip Code:</label>
              </div>
              <div class="small-9 cell">
                <input type="number" name="zip" id="zip">
              </div>
            </div>
            <h4>Billing Information</h4>
            <input type="checkbox" name="bill_equals_ship" id="bill_equals_ship">
            <label for="bill_equals_ship">Same as Shipping</label>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="first_name" class="text-right middle">First Name:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="first_name" id="b-first_name">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="last_name" class="text-right middle">Last Name:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="last_name" id="b-last_name">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="address" class="text-right middle">Address:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="address" id="b-address">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="address_2" class="text-right middle">Address 2:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="address_2" id="b-address_2">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="city" class="text-right middle">City:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="city" id="b-city">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="state" class="text-right middle">State:</label>
              </div>
              <div class="small-9 cell">
                <select>
                  <option value="AL">Alabama (AL)</option>
                  <option value="AK">Alaska (AK)</option>
                  <option value="AZ">Arizona (AZ)</option>
                  <option value="AR">Arkansas (AR)</option>
                  <option value="CA">California (CA)</option>
                  <option value="CO">Colorado (CO)</option>
                  <option value="CT">Connecticut (CT)</option>
                  <option value="DE">Delaware (DE)</option>
                  <option value="DC">District Of Columbia (DC)</option>
                  <option value="FL">Florida (FL)</option>
                  <option value="GA">Georgia (GA)</option>
                  <option value="HI">Hawaii (HI)</option>
                  <option value="ID">Idaho (ID)</option>
                  <option value="IL">Illinois (IL)</option>
                  <option value="IN">Indiana (IN)</option>
                  <option value="IA">Iowa (IA)</option>
                  <option value="KS">Kansas (KS)</option>
                  <option value="KY">Kentucky (KY)</option>
                  <option value="LA">Louisiana (LA)</option>
                  <option value="ME">Maine (ME)</option>
                  <option value="MD">Maryland (MD)</option>
                  <option value="MA">Massachusetts (MA)</option>
                  <option value="MI">Michigan (MI)</option>
                  <option value="MN">Minnesota (MN)</option>
                  <option value="MS">Mississippi (MS)</option>
                  <option value="MO">Missouri (MO)</option>
                  <option value="MT">Montana (MT)</option>
                  <option value="NE">Nebraska (NE)</option>
                  <option value="NV">Nevada (NV)</option>
                  <option value="NH">New Hampshire (NH)</option>
                  <option value="NJ">New Jersey (NJ)</option>
                  <option value="NM">New Mexico (NM)</option>
                  <option value="NY">New York (NY)</option>
                  <option value="NC">North Carolina (NC)</option>
                  <option value="ND">North Dakota (ND)</option>
                  <option value="OH">Ohio (OH)</option>
                  <option value="OK">Oklahoma (OK)</option>
                  <option value="OR">Oregon (OR)</option>
                  <option value="PA">Pennsylvania (PA)</option>
                  <option value="RI">Rhode Island (RI)</option>
                  <option value="SC">South Carolina (SC)</option>
                  <option value="SD">South Dakota (SD)</option>
                  <option value="TN">Tennessee (TN)</option>
                  <option value="TX">Texas (TX)</option>
                  <option value="UT">Utah (UT)</option>
                  <option value="VT">Vermont (VT)</option>
                  <option value="VA">Virginia (VA)</option>
                  <option value="WA">Washington (WA)</option>
                  <option value="WV">West Virginia (WV</option>
                  <option value="WI">Wisconsin (WI)</option>
                  <option value="WY">Wyoming (WY)</option>
                  <option value="AA">Armed Forces Americas (AA)</option>
                  <option value="AP">Armed Forces Pacific (AP)</option>
                  <option value="AE">Armed Forces Others (AE)</option>	
                </select>					
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="zip" class="text-right middle">Zip Code:</label>
              </div>
              <div class="small-9 cell">
                <input type="number" name="zip" id="b-zip">
              </div>
            </div>
            <div class="grid-x grid-margin-x card-info">
              <div class="small-3 cell">
                <label for="card" class="text-right middle">Card:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="card" id="card" disabled value="5555 5555 5555 4444">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="cvv" class="text-right middle">Security Code:</label>
              </div>
              <div class="small-9 cell">
                <input type="password" name="cvv" id="cvv" disabled value="123">
              </div>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="small-3 cell">
                <label for="expiration" class="text-right middle">Expiration:</label>
              </div>
              <div class="small-9 cell">
                <input type="text" name="expiration" id="expiration" disabled value="12/30">
              </div>
            </div>
            <button type="submit" class="button float-right">Pay</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
