<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxy Shop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/app.min.css' %}">
  </head>
  <body>
    <header class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Galaxy Shop</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/cart">Shopping Cart (5)</a></li>
        </ul>
      </div>
    </header>
    <div class="grid-container">
      <a href="/">Go Back</a>
      <h3>{{product.name}}</h3>

      <div class="grid-x grid-margin-x grid-margin-y align-space">
        <div class="medium-4 cell text-center">
          <img src="/static/store/img{{product.thumbnail.url}}" alt="image of {{product.name}}">
        </div>
        <div class="medium-7 cell">
          <p>{{product.desc}}</p>
          <form action="#" method="post" class="buy">
            <select name="quantity" id="quantity">
              {% for price in prices %}
              <option value="{{forloop.counter}}">{{forloop.counter}} ({{price}})</option>
              {% endfor %}
            </select>
            <button type="submit" class="button">Buy</button>
          </form>
        </div>
      </div>
      <footer class="hide-for-small-only">
        <h4>Similar Items</h4>
        <div class="grid-x grid-margin-x grid-margin-y product-grid">
          <div class="cell medium-2 large-2">
            <a href="#" class="thumbnail"><img src="https://via.placeholder.com/300"></a>
            <a href="#">
              <p>Product Link</p>
              <p>$19.99</p>
            </a>
          </div>
        </div>
      </footer>
    </div>
    

    
  </body>
</html>
