<div class="grid-x grid-margin-y grid-margin-x product-grid">
    {% for product in products|dictsort:"price" %}
    <div class="cell small-12 medium-6 large-4">
        <a href="/products/{{product.id}}" class="thumbnail"><img src="/static/store/img{{product.thumbnail.url}}"></a>
        <a href="/product/{{product.id}}">
            <p>{{product.name}}</p>
            <p>{{product.price}}</p>
        </a>
    </div>
    {% endfor %}
</div>
<nav>
    <ul class="pagination text-center">
        <li class="pagination-previous disabled">Previous</li>
        <li class="current">1</li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="ellipsis"></li>
        <li><a href="#">12</a></li>
        <li><a href="#">13</a></li>
        <li class="pagination-next"><a href="#">Next</a></li>
    </ul>
</nav>