<div class="grid-x align-justify product-nav">
    <h4 class="cell shrink">All Products</h4>
    <div class="cell small-5">
      <ul>
        <li><a href="?s={{s}}&page=1">First</a></li>
        <li>|</li>
        {% if products.has_previous %}
          <li><a href="?s={{s}}&page={{ products.previous_page_number }}">Previous</a></li>
        {% else %}
          <li>Previous</li>
        {% endif %}
        <li>|</li>
        <li>{{products.number}}</li>
        <li>|</li>
        {% if products.has_next %}
          <li><a href="?s={{s}}&page={{ products.next_page_number }}">Next</a></li>
        {% else %}
          <li>Next</li>
        {% endif %}
      </ul>
      <form action="#" method="post" class="product-sort">
        {%csrf_token%}
        <label for="product_sort" class="middle">Sorted by </label>
        <select name="product_sort" id="product_sort">
          {% if s == 'price-asc' %}
            <option value="price-asc">Price: Low to High</option>
            <option value="price-desc">Price: High to Low</option>
          {% else %}
            <option value="price-desc">Price: High to Low</option>
            <option value="price-asc">Price: Low to High</option>
          {% endif %}
        </select>
      </form>
    </div>
  </div>
<div class="grid-x grid-margin-y grid-margin-x product-grid">
    {% for product in products %}
    <div class="cell small-12 medium-6 large-4">
        <a href="/products/{{product.id}}" class="thumbnail"><img src="/static/store/img{{product.thumbnail.url}}"></a>
        <a href="/products/{{product.id}}">
            <p>{{product.name}}</p>
            <p>${{product.price}}</p>
        </a>
    </div>
    {% endfor %}
</div>
<nav>
    <ul class="pagination text-center">
        {% if products.has_previous %}
        <li class="pagination-previous"><a href="?s={{s}}&page={{ products.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="pagination-previous disabled">Previous</li>
        {% endif %}
        {% for i in products.paginator.page_range %}
        {% if products.number == i %}
        <li class="current">{{ i }}</li>
        {% else %}
        <li><a href="?s={{s}}&page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if products.has_next %}
        <li class="pagination-next"><a href="?s={{s}}&page={{ products.next_page_number }}">Next</a></li>
        {% else %}
        <li class="pagination-next disabled">Next</li>
        {% endif %}
    </ul>
</nav>