<div class="grid-x grid-margin-y grid-margin-x product-grid">
    {% for product in products %}
    <div class="cell small-12 medium-6 large-4">
        <a href="/products/{{product.id}}" class="thumbnail"><img src="/static/store/img{{product.thumbnail.url}}"></a>
        <a href="/product/{{product.id}}">
            <p>{{product.name}}</p>
            <p>{{product.price}}</p>
        </a>
    </div>
    {% endfor %}
</div>
<nav>
    <ul class="pagination text-center">
      {% if products.has_previous %}
        <li class="pagination-previous"><a href="?page={{ users.previous_page_number }}">Previous</a></li>
      {% else %}
        <li class="pagination-previous disabled">Previous</li>
      {% endif %}
      {% for i in products.paginator.page_range %}
        {% if products.number == i %}
          <li class="current">{{ i }}</li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if products.has_next %}
        <li class="pagination-next"><a href="?page={{ products.next_page_number }}">Next</a></li>
      {% else %}
        <li class="pagination-next disabled">Next</li>
      {% endif %}
    </ul>
  </nav>